body{
    background-image: url(http://www.wallpaperup.com/uploads/wallpapers/2014/11/27/531567/d49809964a23815b203e2000e2b30a9f.jpg);
}
.jumbotron{
    width: 60vw;
    display: none;
    opacity: .7;
}

.heading{
    width: 60vw;
    margin-top: 10px;
    color: #009ADA;
    
}

h1{
    text-align: center;
}
h2{
    text-align: center;
    margin-bottom: 15px;
    color: #009ADA;
    
}

h4{
    padding: 10px;
    margin-left: 50px;
    margin-right: 50px;
    background: #009ADA;
    border-radius: 6px;
    
}
#start{
    margin-top: 60px;
    width: 60vw;
    height: 8vw;
}
#strt{
    font-size: 5vw;
}
.QSTN{
    margin-bottom: 50px;
}

.timme{
    margin-top: 40px;
}
#head{
    background:rgb(191, 10, 48);
    padding: 30px;
    border-radius: 5px;
    font-size: 5vw;
}
