.jumbotron{
    width: 60vw;
}

.heading{
    width: 60vw;
    padding: 20px;
    
}

nav{
    width: 70vw;
}
h2{
    text-align: center;
}
.h4{
    padding: 10px;
    margin-left: 20px;
}
h4{
    padding: 10px;
    margin-left: 40px;
}