body{
    background: gray;
}
.jumbotron{
    width: 60vw;
    display: none;
}

.heading{
    width: 60vw;
    padding: 20px;
    
    
}

nav{
    width: 70vw;
}
h1{
    text-align: center;
}
h2{
    text-align: center;
    margin-bottom: 15px;
}

h4{
    padding: 10px;
    margin-left: 50px;
    margin-right: 50px;
    background: #009ADA;
    border-radius: 6px;
    
}
#start{
    
    width: 60vw;
    height: 8vw;
}
.QSTN{
    margin-bottom: 50px;
}

.timme{
    margin-top: 40px;
}
